@include normalize-version('Embedded Content');

// ==========================================================================
// Embedded content
// ==========================================================================
   
// 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
// 2. Improves image quality when scaled in IE 7.

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

// Corrects overflow displayed oddly in IE 9.

svg:not(:root) {
    overflow: hidden;
}