@include normalize-version('Figures', true);

// =============================================================================
// Figures
// ==========================================================================

// Addresses margin not present in IE6/7/8/9, S5, O11

figure {
    margin: 0;
}