@include normalize-version('Typography', true);

// ==========================================================================
// Typography
// ==========================================================================

// Addresses font sizes and margins set differently in IE 6/7.
// Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
// and Chrome.

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

// Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.

abbr[title] {
    border-bottom: 1px dotted;
}

// Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

// Addresses styling not present in Safari 5 and Chrome.

dfn {
    font-style: italic;
}

// Addresses styling not present in IE 6/7/8/9.

mark {
    background: #ff0;
    color: #000;
}

// Addresses margins set differently in IE 6/7.

p,
pre {
    margin: 1em 0;
}

// Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

// Improves readability of pre-formatted text in all browsers.

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

// Addresses CSS quotes not supported in IE 6/7.

q {
    quotes: none;
}

// Addresses `quotes` property not supported in Safari 4.

q:before,
q:after {
    content: '';
    content: none;
}

// Addresses inconsistent and variable font size in all browsers.

small {
    font-size: 80%;
}

// Prevents `sub` and `sup` affecting `line-height` in all browsers.

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}
